/**
 *
 */

@import'base.css';

body { padding-top: 76px; }

/**
 * HOME
 * -----------------------------------------------------------------------------
 */

.map-controls {
  width: 100%;
  position: absolute;
  top: 76px;
  padding: 15px;
}

.home-search {
  height: 700px;
  position: absolute;
  top: 76px;
  background: rgba(44, 62, 80, 0.59);
  width: 100%;
  color: #ECF0F1;
  padding-top: 100px;
}

footer {
  padding: 40px 0 30px;
}


/**
 * About
 * -----------------------------------------------------------------------------
 */

.about {
  padding-bottom: 60px;
}
