/**
 *
 */

@import'base.css';

body { padding-top: 76px; }

/**
 * HOME
 * -----------------------------------------------------------------------------
 */

.map-controls {
  position: absolute;
  top: 76px;
  padding: 15px;
}
  .map-controls.pull-right {
    right: 0;
  }

.home-search {
  height: 700px;
  position: absolute;
  top: 76px;
  background: rgba(44, 62, 80, 0.59);
  width: 100%;
  color: #ECF0F1;
  padding-top: 100px;
}

footer {
  padding: 40px 0 30px;
}

#alertModal .alert {
  padding: 5px 35px 5px 10px;
}
  #alertModal .alert-dismissable .close, #alertModal .alert-dismissible .close {
    top: 3px;
  }
  #alertModal .msg-error {
    font-family: monospace;
    padding-left: 25px;
  }


/**
 * About
 * -----------------------------------------------------------------------------
 */

.about {
  padding-bottom: 60px;
}
