/**
 *
 */

@import'base.css';

body { padding-top: 76px; }

/**
 * HOME
 * -----------------------------------------------------------------------------
 */


.home-search {
  height: 500px;
  position: absolute;
  top: 76px;
  background: rgba(44, 62, 80, 0.59);
  width: 100%;
  color: #ECF0F1;
  padding-top: 100px;
}

footer {
  padding: 40px 0 30px;
}

#alertModal .alert {
  padding: 5px 35px 5px 10px;
}
  #alertModal .alert-dismissable .close, #alertModal .alert-dismissible .close {
    top: 3px;
  }
  #alertModal .msg-error {
    font-family: monospace;
    padding-left: 25px;
  }

.pac-container {
  font-family: inherit;
}

.home-logos a {
}
  .home-logos a img {
    margin: 10px 25px;
    height: 70px;
    opacity: 1;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
    .home-logos a img:hover {
      opacity: 0.7;
    }


/**
 * Map
 * -----------------------------------------------------------------------------
 */

.home-map, .home-map .map-wrapper, .home-map .map-list {
  min-height: 500px;
  height: 100%;
}

.home-map #map {
  height:100%;
}

.home-map .map-list {
  width: 360px;
  background-color: rgba(52, 73, 94, 0.5);
  z-index: 9;
}

.home-map .map-controls, .home-map .map-list {
  position: absolute;
  top: 76px;
  padding: 15px;
}
  .map-controls.pull-right {
    right: 0;
  }



/**
 * About
 * -----------------------------------------------------------------------------
 */

/*.about {
  padding-bottom: 60px;
}*/


/**
 * Project
 * -----------------------------------------------------------------------------
 */

.project {
  padding-bottom: 20px;
}

